<a href="https://colab.research.google.com/github/kangwonlee/pandas_KBO/blob/main/pandas_KBO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_list = pd.read_html('https://www.koreabaseball.com/TeamRank/TeamRank.aspx')

How many tables? 읽은 표의 수

In [ ]:
len(df_list)

첫번째 표

In [ ]:
df_list[0]

두번째 표

In [ ]:
df_list[1]